.contact__container {
  display: flex;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 120px;
}

.contact__info {
  width: 50%;
}

.contact__info-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 64px;
  line-height: 100px;
}

.contact__info-text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
}

.contact__info-list {
  @include reset-list;
}

.contact__info-item {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &::before {
    flex-shrink: 0;
    content: "";
    width: 72px;
    height: 72px;
    margin-right: 23px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;
  }

  &--talent::before {
    background-image: url("../img/talent-network.png");
  }

  &--software::before {
    background-image: url("../img/our-software.png");
  }

  &--innovation::before {
    background-image: url("../img/innovation.png");
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
  padding-left: 40px;
}

.contact__form-input {
  width: 100%;
  padding-left: 14px;
  padding-bottom: 17px;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 15px;
  line-height: 25px;
  outline: none;
  color: #fff;

  &::placeholder {
    opacity: 0.6
  }

  &--textarea {
    min-height: 84px;
    padding-right: 14px;
  }
}

.contact__form-button {
  padding: 10px 32px;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  outline: none;
  cursor: pointer;
}


@include breakpoint-down (800) {
  .contact__container {
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 112px;
  }

  .contact__info {
    max-width: 515px;
    width: 100%;
    margin-bottom: 64px;
  }

  .contact__info-title {
    margin-bottom: 24px;
    line-height: 56px;
    text-align: center;
  }

  .contact__info-text {
    margin-bottom: 24px;
    text-align: center;
  }

  .contact__form {
    max-width: 540px;
    width: 100%;
    padding-left: 0;
  }
}

@include breakpoint-down (500) {
  .contact__container {
    padding-top: 32px;
    padding-bottom: 88px;
  }

  .contact__info-title {
    font-size: 40px;
    line-height: 40px
  }
}


@include retina-bg {
  .contact__info-item {
    &--talent::before {
      background-image: url("../img/talent-network@2x.png");
    }

    &--software::before {
      background-image: url("../img/our-software@2x.png");
    }

    &--innovation::before {
      background-image: url("../img/innovation@2x.png");
    }
  }
}