.director {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 350px;
  width: 100%;
  padding: 32px 48px 56px 48px;
  background-color: #012F34;

  &::before {
    content: "";
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    border: 2px solid #C4FFFE;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100px 98px;
    background-position: center top;
  }

  &--nikita::before {
    background-image: url("../img/direc-nikita-img.svg");
  }

  &--cristian::before {
    background-image: url("../img/direc-cristian-img.svg");
  }

  &--cruz::before {
    background-image: url("../img/direc-cruz-img.svg");
  }

  &--drake::before {
    background-image: url("../img/direc-drake-img.svg");
  }

  &--griffin::before {
    background-image: url("../img/direc-griffin-img.svg");
  }

  &--aden::before {
    background-image: url("../img/direc-aden-img.svg");
  }
}

.director__name {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #79C8C7;
}

.director__career {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.director__inner {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 35px 48px 63px;
  background-color: #002529;
}

.director--open .director__inner {
  display: block;
}

.director__quote {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

.director__socials {
  @include reset-list;
  display: flex;
  justify-content: center;
}

.director__socials-item {
  &:not(:last-child) {
    margin-right: 16px;
  }
}

.director__socials-link {
  &:hover .director__socials-network  {
    fill: #F67E7E;
  }
}

.directors__toggle {
  position: absolute;
  z-index: 1;
  top: 100%;
  transform: translateY(-50%);
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: #F67E7E;
  background-image: url("../img/plus-icon.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center center;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #79C8C7;
  }
}

.director--open .directors__toggle {
  background-color: #79C8C7;
  transform: translateY(-50%) rotate(45deg);

  &:hover {
    background-color: #F67E7E;
  }
}


@include breakpoint-down (850) {
  .director {
    max-width: 280px;
  }

  .director--open .director__inner {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@include breakpoint-down (700) {
  .director {
    max-width: 240px;
  }
}

@include breakpoint-down (600) {
  .director {
    max-width: 327px;
  }
}

@include breakpoint-down (400) {
  .director {
    max-width: 100%;
  }
}