.site-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #002529;
}

.site-footer__container {
  display: flex;
  justify-content: space-between;
}

.site-footer__left {
  display: flex;
}

.site-footer__left-basic {
  margin-right: 133px;
}

.site-footer__logo {
  display: block;
  margin-bottom: 25px;
}

.site-footer__nav {
  @include reset-list;
  display: flex;
  align-items: center;
}

.site-footer__nav-item:not(:last-child) {
  margin-right: 40px;
}

.site-footer__nav-link {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;

  &:hover {
    color: #F67E7E;
  }
}

.site-footer__address {
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
}

.site-footer__call {
  font-style: normal;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
}

.site-footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-footer__right-list {
  @include reset-list;
  display: flex;
  justify-content: flex-end;
}

.site-footer__right-item {
  margin-left: 8px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.site-footer__right-link:hover .site-footer__right-svg {
  fill: #F67E7E;
}

.site-footer__right-copyright {
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.6;
}


@include breakpoint-down (850) {
  .site-footer__left-basic {
    margin-right: 90px;
  }
}

@include breakpoint-down (800) {
  .site-footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .site-footer__container {
    flex-direction: column;
  }

  .site-footer__left {
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .site-footer__logo {
    width: 96px;
    height: 24px;
    margin-bottom: 53px;
  }

  .site-footer__right {
    flex-direction: row;
  }
}

@include breakpoint-down (550) {
  .site-footer {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .site-footer__left {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  .site-footer__left-basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .site-footer__logo {
    margin-bottom: 24px;
  }

  .site-footer__left-contact {
    text-align: center;
  }

  .site-footer__right {
    flex-direction: column;
    align-items: center;
  }

  .site-footer__right-list {
    margin-bottom: 16px;
  }

  .site-footer__right-copyright {
    text-align: center;
  }
}
